<section class="section section-intro">
    <div class="container">
        <h1 class="title">Starter Page</h1>
        <p>Just another quick project starter by <a href="http://mikemattner.com">Mike</a>.</p>
    </div>
</section>