.hero {
    background-color: $primary;

    h1 {
        color: $white;
    }

    a {
        color: rgba($black,0.65);
        display: inline-block;
        position: relative;
        z-index: 100;
        @include transition(all 0.25s ease);

        &:after {
            content: '';
            position: absolute;
            background-color: rgba($black,0.25);
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            z-index: -1;
            @include transition(all 0.25s ease);
        }

        &:hover,
        &:active {
            @include transition(all 0.5s ease);

            &:after {
                height: 50%;
                @include transition(all 0.125s ease);
            }
        }
    }
}