<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" media="screen" href="app.css" />
</head>
<body class="">

  {{> body}}
  
  <script type="text/javascript" src="app.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>